<!doctype html>
<title>{% block title %}{% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>MKAD</h1>
</nav>
  <header>
    {% block header %}{% endblock %}
  </header>
<body>
{% block content %}{% endblock %}

</body>