{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Caulculate the distace to Moscow Ring Road {% endblock %}</h1>
{% endblock %}
{% block content %}

<br>
<h2>Please enter the address</h2>
<form action="#" method="POST">
    <input id="z" type="text"  name="add">
    <input id= "a" name="b" type="submit" value="Check">
    <button  id= "b" name="clear" value="Reset">New Query</button>
</form>

    {% with messages = get_flashed_messages() %}
        {%  if messages %}
            {%  for msg in messages  %}
                <h3 id="c">{{ msg }}</h3>
            {% endfor%}
        {% endif %}
    {%  endwith %}

{% endblock %}


