:root {

	--color: #000000;

	--feedback-secondary-color: #ffacac;
	--feedback-primary-color: #53488d;

}

body {
  font-family: "DM Sans", sans-serif;
	background-color: var(--feedback-primary-color);
}

.center-content {
  display: grid;
  place-content: center;
}

.container {

	height: 100vh;
}
#c{

font-family: "DM Sans", sans-serif;
}
#z{
 padding: 10px 30px;

}
#a,#b{

	padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;

	border-radius: 7px;
	border-bottom-left-radius: 0;

	background-color: var(--feedback-secondary-color);
	color: var(--feedback-primary-color);

	transition: all 0.3s;}





